# Environment variables
.env
*.env
.env.local
.env.*.local

# IDEs and editors
.idea
.vscode/
*.swp

# Operating System files
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log

# Python
__pycache__/
*.py[cod]
*$py.class
truck-backend/env/

# Django
*.djcache

# Build outputs
dist/
build/

# Firebase
# Logs and user-specific cache. Contains sensitive info.
.firebase/
firebase-debug.log

# Unused project directories
functions/
hos-planner/

# Project metadata / reference files
assignment.txt
fmcsa-hos.md
fmcsa-hos.txt
log.png
